<div class="container">
    <h2 *ngIf="planeTypeInfo.id === 0">Add Plane Type</h2>
    <h2 *ngIf="planeTypeInfo.id !== 0">Update Plane Type (Id: )</h2>
    <form>
        <div class="form-group">
            <label for="model-input">Plane Type:</label>
            <input type="string" id="model-input" name="model-input" [(ngModel)]="planeTypeInfo.planeModel" class="form-control" />
        </div>
        <div class="form-group">
            <label for="seats-input">Seats Number:</label>
            <input type="number" id="seats-input" name="seats-input" [(ngModel)]="planeTypeInfo.seatsNumber" class="form-control" />
        </div>
        <div class="form-group">
            <label for="carrying-input"></label>
            <input type="number" id="carrying-input" name="carrying-input" [(ngModel)]="planeTypeInfo.carrying" class="form-control" />
        </div>
        <div class="d-flex justify-content-around">
                <a class="btn btn-dark" [routerLink]="['/planeTypes']">Back</a>
                <a class="btn btn-primary" type="button" *ngIf="planeTypeInfo.id === 0" (click)="createOrUpdateStewardess()">Add Stewardess</a>
                <a class="btn btn-primary" type="button" *ngIf="planeTypeInfo.id !== 0" (click)="createOrUpdateStewardess()">Update Stewardess</a>
            </div>
    </form>
</div>