<div class="container list-table">
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Plane Name</th>
                <th>Plane Type Id</th>
                <th>Release Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let plane of planes">
            <td>{{ plane.name }}</td>
            <td>{{ plane.planeTypeId}}</td>
            <td>{{ plane.releaseDate | date:'mediumDate' }}</td>
            <td class="d-flex justify-content-around">
                <button class="btn btn-dark" (click)="updateItem(plane)" [routerLink]="['/planes', plane.id]">Edit</button>
                <button class="btn btn-dark" (click)="deleteItem(plane)"><i class="far fa-trash-alt"></i></button>
            </td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-around">
        <button class="btn btn-dark" [routerLink]="['/home']">
                Back
        </button>
        <button class="btn btn-dark" [routerLink]="['/planes/add']">
            Add Plane
        </button>
    </div>
  </div>