
<!-- {{planeTypes | json}} -->
<table class="table table-bordered table-hover">
  <thead class="thead-dark">
      <tr>
          <th>Plane Model</th>
          <th>Seats Number</th>
          <th>Carrying</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let planeType of planeTypes">
        <td>{{ planeType?.planeModel }}</td>
        <td>{{ planeType?.seatsNumber | number }}</td>
        <td>{{ planeType?.carrying }}</td>
        <td>
            <a href="#" (click)="editRecord(this)">Edit</a>
            <a href="#" (click)="deleteRecord(this)">Delete</a>
        </td>
      </tr>
  </tbody>
</table>