<div class="d-flex justify-content-center"> 
<div class="air-grid ">
      <a class="btn btn-dark" [routerLink]="['/planeTypes']">
        Plane Types
      </a>
      <a class="btn btn-dark" [routerLink]="['/planes']">
        Planes
      </a>
      <a class="btn btn-dark" [routerLink]="['/stewardesses']">
        Stewardesses
      </a>
      <a class="btn btn-dark" [routerLink]="['/pilots']">
        Pilots
      </a>
      <a class="btn btn-dark" [routerLink]="['/crews']">
        Crews
      </a>
      <a class="btn btn-dark" [routerLink]="['/tickets']">
        Tickets
      </a>
      <a class="btn btn-dark" [routerLink]="['/flights']">
        Flights
      </a>
      <a class="btn btn-dark" [routerLink]="['/departures']">
        Departures
      </a>
  </div>
 </div>

<!-- <ul class="list-group">
  <li class="list-group-item">
    <a class="btn btn-dark" [routerLink]="['/planeTypes']">
      Plane Types
    </a>
  </li>
  <li class="list-group-item">
    <a class="btn btn-dark" [routerLink]="['/planes']">
      Planes
    </a>
  </li>
  <li class="list-group-item">
    <a class="btn btn-dark" [routerLink]="['/stewardesses']">
      Stewardesses
    </a>
  </li>
  <li class="list-group-item">
      <a class="btn btn-dark" [routerLink]="['/pilots']">
        Pilots
      </a>
  </li>
  <li class="list-group-item">
    <a class="btn btn-dark" [routerLink]="['/crews']">
        Crews
    </a>
  </li>
  <li class="list-group-item">
    <a class="btn btn-dark" [routerLink]="['/tickets']">
        Tickets
    </a>
  </li>
  <li class="list-group-item">
    <a class="btn btn-dark" [routerLink]="['/flights']">
        Flights
    </a>
  </li>
  <li class="list-group-item">
      <a class="btn btn-dark" [routerLink]="['/departures']">
        Departures
      </a>
    </li>
</ul> -->