<ul>
  <li>
    <a class="btn btn-dark" [routerLink]="['/planeTypes']">
      Plane Types
    </a>
  </li>
  <li>
    <a class="btn btn-dark" [routerLink]="['/planes']">
      Planes
    </a>
  </li>
  <li>
    <a class="btn btn-dark" [routerLink]="['/stewardesses']">
      Stewardesses
    </a>
  </li>
  <li>
      <a class="btn btn-dark" [routerLink]="['/pilots']">
        Pilots
      </a>
  </li>
  <li>
    <a class="btn btn-dark" [routerLink]="['/crews']">
        Crews
    </a>
  </li>
  <li>
    <a class="btn btn-dark" [routerLink]="['/tickets']">
        Tickets
    </a>
  </li>
</ul>